.container{
  border: 1px solid red;
  overflow: hidden;
}
.box{
  float: left;
  min-height: 200px;
}
.main{
  width: 100%;
}
.wrap{
  background-color: #e1e;
  margin: 0 200px 0 150px;
  height: 200px;
}
.left{
  width: 150px;
  background-color: #74d07a;
  margin-left: -100%;
}
.right{
  width: 200px;
  background-color: #5c200e;
  margin-left: -200px;
}
