section.products{
  width: 650px;
  min-height: 200px;
  border:1px solid #aa00aa;
  border-radius: 20px 20px 0 0 ;
  margin: 0px auto;
}

div.products{
  padding: 5px;
  width:80px;
  height: 120px;
  border: 1px solid #eee;
  margin: 5px;
  text-align: center;
  display: inline-block;
  /* float: left; */
}

.products:nth-child(5){
  height: 200px;
}

.products > h4{
  margin: 0px;
}
.products > p{
  margin: 0px;
  font-size: 9pt;
}
.products > img{
  width: 70px;
}

/* .products::after{
  content: "";
  display: block;
  clear: both;
} */

/* .clearboth{
  clear:both;
} */
