
div.container{
  width:500px;
  height:500px;
  border:1px solid #555;
  position:relative;
}

div.box{
  margin:50px;
  width:100px;
  height:100px;
  background-color:#79d1a0;
}

div.box:nth-child(1){
  position: relative;
  /*top:100px;*/
  /*left:80px;*/
  bottom: 20px;
  right: 20px;
  z-index: 2;

}

div.box:nth-child(2){
  position: absolute;
  /*top:100px;*/
  /*left:80px;*/
  left: 20px;
  top: 20px;
  background-color:#852e84;
  z-index: 1;

}

div.box:nth-child(3){
  position: fixed;
  /*top:100px;*/
  /*left:80px;*/
  bottom: 30px;
  right:100px;
  background-color:#f77e0c;
}
